body {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

h3 {
    color: rgb(247, 134, 30);
}

p {
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: justify;
}

.card {
    background-color: rgb(247, 243, 225);
    padding: 20px;
    border-radius: 10px;
}

.carousel-img {
    height: 400px;
    object-fit: cover;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
}

.carousel-img:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 220px;
    }
}

.education-timeline {
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
}

.education-timeline::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgb(247, 134, 30);
}

.education-item {
    position: relative;
    margin-bottom: 30px;
}

.education-dot {
    position: absolute;
    left: -30px;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(247, 134, 30);
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px rgb(247, 134, 30);
    z-index: 1;
}

.education-content h4 {
    margin: 0;
    font-weight: 600;
    color: rgb(248, 175, 107);
}

.education-content h5 {
    margin: 5px 0;
    color: rgb(247, 226, 181);
}

.education-date {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(247, 134, 30);
    margin-bottom: 5px;
}
